body {
  max-width: 300px;
  margin: auto;
  font-family: "Courier New", Courier, monospace;
}
h1, h2, h3 {
  text-align: center;
}
ul {
  list-style: none;
  padding: 0;
}
.navlink {
  display: inline;
}
